{% load static %}
<!Doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Парсинг  сайтов</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'questions/css/main.css' %}">

</head>
<body>
<div id="loader">
<div id="shadow"></div>
<div id="box"></div>
</div>
{% block content %}{% endblock %}
{% load static %}
<script src="{% static 'questions/js/libs.min.js' %}"></script>
<script src="{% static 'questions/js/common.js' %}"></script>
</body>
</html>