{% extends 'questions/base.html' %}
{% block content %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
    function send_ruk() {

        $.ajax({

            type: 'POST',

  url: 'form',

  data: 'name=ruk',


        });
    }
    </script>
    <section id="main-banner">
        <div class="container">
            <div class="row">
                <div class="menu">
                    <nav class="navbar navbar-default menu_top">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% load static %}
                            <a href="/" class="logo"><img src="{% static 'questions/img/logo.gif' %}"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="main-menu" >
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/about">О сервисе</a></li>

                                <li><a href="/contacts">Контакты</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row main-content">
                <div class="col-md-12 text-banner text-center">
                    Сервис для
                    анализа вашего сайта
                </div>
                <div class="col-sm-12 form-search">
                    <form action="{% url 'form' %}" method="post">{% csrf_token %}
<select class="" id="sel1">
<option>Яндекс</option>
<option>Google</option>
<option>Я&G</option>
</select>
 {{ form }}
<input type="text" name="analiz" class="analiz" value="Анализировать">
<div class="row">
<br>

</div>
<div class="change">
<h3>Кто вы?</h3>
    <input type="submit" name="user" class="zbs" value="Руководитель">
                        <input type="submit" name="user" class="zbs" value="SEO-специалист">

                    </div>
                    </form>

                </div>
            </div>
<!---->
            <div class="row">
                <!--<div class="col-md-2 col-md-offset-10 social-button">-->
                    <!--<ul>-->
                        <!--<li><a href=""><img src="img/social-icon/facebook.png"></a> </li>-->
                        <!--<li><a href=""><img src="img/social-icon/instagramm.png"></a> </li>-->
                        <!--<li><a href=""><img src="img/social-icon/telegram.png"></a> </li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
<!---->
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class=" col-md-offset-8 col-md-2 col-sm-2 col-xs-6">
                        {% load static %}
                        <img src="{% static 'questions/img/Google.png' %}">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <img src="{% static 'questions/img/apple.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
