<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for i in title %}
        <p>{{ i }}</p>
    {% endfor %}
    {% for i in keyword %}
        <p>{{ i }}</p>
    {% endfor %}
    {% for i in description %}
        <p>{{ i }}</p>
    {% endfor %}

    {% for i in h1 %}
        <p>{{ i }}</p>
    {% endfor %}

    {% for i in text %}
        <p>{{ i }}</p>
    {% endfor %}

    {% for i in link %}
        <p>{{ i }}</p>
    {% endfor %}

    {% for i in resultgoogl %}
        <p>{{ i }}</p>
    {% endfor %}

    {% for i in resultyandex %}
        <p>{{ i }}</p>
    {% endfor %}
</body>
</html>